iframe {
    padding-left: 210px;
}

button {
    width: 80%;
    height: 40px;
    margin: 0 10%;
    float: left;
}

button.answerchoice {
    display: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

button:hover {
    background-color: blue;
}

.answers div {
    margin: 0 auto;
}

img {
    height: 200px;
    width: auto;
}

h1, h2, h3, .question {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

#startButton {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;

}